<div class="skillst">
<main>

    <div class="Skillin">
    <h2>Skills</h2>
    </div>

    <div class="sl">
    <br>
    {{!-- grab all equipment and show by name --}}
    {{#each skills}}

    </div>

    <h3>

        <a href="/skills/{{this._id}}">
            {{name}}
        </a>
    </h3>





    {{/each}}
    <br>
 

    <a  href= "/skills/new"class="button is-danger">New Skill</a>
</main>

</div>


