
<div class="newskill">
<main >
<div class="cns">
    <h3>Create New SKill</h3>
    </div>

    {{!-- create a new skill --}}
    <form action="/skills/{{skills_.id}}" method="POST">
       

     <div class="field">
  <div class="control">
    <input class="input is-danger" name="name" type="text" placeholder="New Skill">
  </div>
</div>
       
        <button type="submit" class="button is-danger">Save Skill</button>
    </form>

</main>
</div>