 <h2>{{skills.name}}</h2>

  
  <p>Task: {{skill.task}}</p>


  <form action="/skills/{{skill._id}}/edit" method="PATCH">
    <button class="btn btn-primary">Edit Skills</button>
  </form>

  <br>
  <a href="/skills/new"> <button class="btn btn-success">Add New Skills</button></a>
  <br>
  <br>

  
  
</main>