

<div class="se">
<main>

  {{!-- show event name and details --}}
<div class="skilln">
  <h2>{{skill.name}}</h2>
  </div>

  
  
  {{!-- <p>Equipment: {{skills.task}}</p> --}}

<div class="sb">
  <form action="/skills/{{skill._id}}/edit" method="PATCH">
    <button class="button is-danger is-outlined">Edit Skill </button>
    
  </form>

  <br>
  
  <a href="/skills/new" class="button is-danger is-outlined">New Skill</a>
  <br>
  <br>

  </div>

  
</main>
</div>