 <div class="ss">
 
 <div class="sc">
 <h2>{{skills.name}}</h2>

  <div class="column">
  <p>Task: {{#each skill.task}}</p>
  <div>
  <h2> {{name}} </h2>
  <h2>{{duration}}</h2>
  </div>

  {{/each}}
  </div>


  <form action="/skills/{{skill._id}}/edit" method="PATCH">
    <button class="btn btn-primary">Edit Skills</button>
  </form>

  <br>
  <a href="/skills/new"> <button class="btn btn-success">Add New Skills</button></a>
  <br>
  <br>

  
  

</div>