

.images{

	display: flex;
	justify-content: center;
	text-align: center;
	height: 128px;
	width:128px;


}

.test{

text-align: center;

}

.users{

text-align: center;
font-size: 40px;


}



.tit{
	font-size: 60px;
	color:red;


}

.containers{
	display: flex;

	justify-content:center;
	align-items:center;

}

.png{

	height: 300px;
	width: 300px;
	
}

.skillst{

	display: flex;
	justify-content: center;
	text-align: center;



}

.Skillin{
	font-size: 60px;


}

.newskill{

	display: flex;
	justify-content: center;
	text-align: center;



}

.ss{
	display: flex;
	justify-content: center;
	text-align: center;
	



}

.section{

	display: flex;
	justify-content: center;
	text-align: center;

}

.middle {
	display: flex;
	justify-content: center;
	text-align: center;


}

.se{
	display: flex;
	justify-content: center;
	text-align: center;




}



.skilln{

	font-size: 60px;


}

.sn{

	font-size: 60px;
}

.cns{
	font-size: 60px;
}