/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */


/* .column {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.row-one {
	padding-top: 13px;
}
form .field {
	margin: auto;
	max-width: 740px;
} */

.images{

	display: flex;
	justify-content: center;
	text-align: center;
	height: 128px;
	width:128px;


}

.test{

text-align: center;

}

.users{

text-align: center;
font-size: 40px;


}



.tit{
	font-size: 60px;
	color:red;


}

.containers{
	display: flex;

	justify-content:center;
	align-items:center;

}

.png{

	height: 300px;
	width: 300px;
	
}

.skillst{

	display: flex;
	justify-content: center;
	text-align: center;



}

.Skillin{
	font-size: 60px;


}

.newskill{

	display: flex;
	justify-content: center;
	text-align: center;



}