




<div class="card">
  <div class="card-content">
    <div class="media-content">
      <p class="title is-4">SKILLS </p>
        <p class="title is-4">{{user.name}}'s </p>
        <p class="subtitle is-6">{{#each user.skills}}
  <h3>
    <a href="/skills/{{this._id}}">
      {{name}}
    </a>
  </h3>
  {{/each}}</p>
        <a href="/users/{{user._id}}/edit"  method="PATCH"class="button is-warning">Edit Profile</a>
      </div>


  </div>
</div>

